{% extends 'base.html.twig' %}

{% block title %}Calculadora{% endblock %}

{% block body %}
<nav class="navbar col-12 fixed-top navbar-expand-lg navbar-dark bg-dark" style="z-index: index 999;">
        <div class="container-fluid col-11 m-auto">
            <a class="navbar-brand" href="/">BrunoDEV_'</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projetos">Projetos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Fale Comigo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Contatos</a></li>
                        <li><a class="dropdown-item" href="#"><Datag>Curiosidades</Datag></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Deixe sua dúvida aqui</a></li>
                    </ul>
                </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" style="background-color:#000010;color:white;" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>

    <form class="form-control" action="/projetos/calculadora" method="POST">
        <label>Primeiro número:</label>
        <input type="text" name="num1"><br><br>

        <label>Segundo número:</label>
        <input type="text" name="num2"><br><br>

        <label>Operacão desejada:</label>
        <select name="operacao">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">X</option>
            <option value="/">/</option>
        </select>
        <input type="submit" class="btn btn-dark" value="Calcular">
    </form>
    <hr>
    <p>{{ resultado }}</p>

    
{% endblock %}